*{
  margin:0;
  padding: 0;
}

a {

  color: rgb(114, 27, 114);
  font-size: 2rem;
  font-family: 'Concert One', cursive;
}



h2{
font-size: 30px;
margin: 10px 0;
}

h3{
  font-size: 25px;

}

p{
  font-size: 26px;
  margin: 20px 0;
}

.lighter {
  color: rgb(242, 245, 247);
}

.title {
  font-family: 'Concert One', cursive;
  color: rgb(182, 62, 182);
  font-size: 5rem;
  text-shadow: 2px 4px 4px #1d1c1c;
}

span {
  color: rgb(117, 9, 117);
 
}

.sub-title {
  background-color: rgb(255, 255, 255);
  display: block;
  border-radius: 5px;
  padding: 10px;
  font-size: 2rem;
}


.price {
margin: 25px 0;
font-family: 'Concert One', cursive;
color: rgb(88, 4, 88);
font-size: 3rem;
text-shadow: 2px 5px 4px #fffdfd;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(bg2.jpg);
  background-position: center;
 
  font-family: 'Indie Flower', cursive;
}

.main-container {
  
  width: 90%;
  max-width: 100%;
  margin: 20px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  background-image: url(banner.jpg);
  
  padding: 20px;
}

.services {
  width: 90%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 10px 0;
 
  
}

.website-packages {
 
  width: 95%;
}

.package-container {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
  min-height: 80vh;
  margin-bottom: 30px;
}



.package-description {
  width: 100%;
  
}



.choose-your-plan {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.plan {
  width: 30%;
  height: 300px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.about-package{
  font-family: 'Concert One', cursive;
  margin: 0 10px;
  font-size: 18px;
}


.second {
  width: 100%;
  min-height: 80vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.middle {
  width: 80%;
  
}

ul {
  margin-top: 50px;
  list-style:square ;
  color: rgb(117, 9, 117);
  text-shadow: 2px 3px 4px #313030;
  font-size: 30px;
  font-weight: bold;
}

.third {
  width: 100%;
  min-height: 80vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 20px;
  align-items: center;
}

.last{
  width: 100%;
  display: flex;
  
}

.picture-box{
  width: 40%;
}

.picture-box img{
  object-fit: cover;
  width: 100%;
}

.text-box {
width: 60%;
text-align: center;
}

footer {
  width: 90%;
  padding: 30px 0;
  text-align: center;
  
  color:  rgb(255, 255, 255);
}

footer p{
  
  font-size: 2rem;
 
}

@media (max-width:800px) {
  .choose-your-plan {
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }

  .plan {
    width: 100%;
   }

   .second {
    width: 100%;
   
  }

  .last{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

 
  .picture-box{
    width: 100%;
  }
  
  .picture-box img{
    object-fit: cover;
    width: 90%;
  }
  
  .text-box {
  width: 100%;
  }
}


@media (max-width:500px) {
  a {

    font-size: 1.5rem;
    text-shadow: 2px 3px 4px #dfdada;
  }
  
  h2{
  
  margin: 15px 5px;
  }
  
  h3{
    font-size: 20px;
   
  }
  
  p{
    font-size: 18px;
    margin: 20px 10px;
  }
  
  .title {
   
    font-size: 3rem;
    text-shadow: 2px 3px 4px #313030;
  }
  
  
  
  .sub-title {
   
    padding: 5px;
    font-size: 1.8rem;
  }
  
  .price {
 
  
  font-size: 2rem;
  }

  body {
    width: 100%;
   
  }
  
  .main-container {
   
    width: 90%;
    max-width: 100%;
    
  }
  
  .banner {
    width: 90%;
   
  }

  .services {
    width: 100%;
   
    border-radius: 40px;
    margin-top: 50px;
  }
}

@media (max-width:400px) {
  .sub-title {
   
   
    font-size: 1.2rem;
  }

  .about-package{
   
    font-size: 16px;
  }

  footer p{
  
    font-size: 1.2rem;
   
  }
}
